<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salyert.swarathesh.inventoryappproject11">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="com.salyert.swarathesh.inventoryappproject11.android.permission.READ_EXTERNAL_STORAGE"
        android:label="READ THE STRING"
        android:description="@string/des"
        android:permissionGroup="android.permission.READ_EXTERNAL_STORAGE"
        android:protectionLevel="dangerous" />
    <permission android:name="com.salyert.swarathesh.inventoryappproject11.android.permission.WRITE_EXTERNAL_STORAGE"
        android:label="READ THE STRING"
        android:description="@string/des1"
        android:permissionGroup="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="dangerous" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddProductActivity" />
        <activity android:name=".DetailActivity"></activity>
    </application>

</manifest>